body {
            font-family: 'Poppins', sans-serif;
            background-color: #050505;
        }
        
        .glass-card {
            background: rgba(18, 18, 18, 0.85);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        .input-field {
            background-color: #1a1a1a;
            color: #e5e7eb;
            border-color: #374151;
        }

        .input-field:focus {
            border-color: #ffffff;
            outline: 2px solid #ffffff;
        }

        .custom-checkbox {
            appearance: none;
            background-color: transparent;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 1px solid white;
            border-radius: 0.15em;
            display: grid;
            place-content: center;
        }

        .custom-checkbox::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em white;
            transform-origin: center;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        }

        .custom-checkbox:checked::before {
            transform: scale(1);
        }